.DS_Store
.project
gradle
.settings
gradle.properties

gradle/

gradlew.bat
.gradle
build
local.properties
.idea
build.gradle
settings.gradle

build.gradle
build
build/
proguard-rules.pro
androidTest
main
test

drawable-v24
mipmap-anydpi-v26
mipmap-hdpi
mipmap-mdpi
mipmap-xhdpi
mipmap-xxhdpi
mipmap-xxxhdpi

.vim
