.DS_Store
.project
gradle
.settings
gradle.properties

README.md
gradlew

gradlew.bat
.gradle
build
local.properties
.idea
build.gradle
settings.gradle

build.gradle
build
proguard-rules.pro
androidTest
main
test
